html, body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    margin: 0;
    color: #666;
}

.btn {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.header-bar {
    padding: 16px;
    background-color: #4b367c;
    box-sizing: border-box;
    height: 80px;
}

.header-bar h2 {
    font-weight: 300;
    text-align: center;
    line-height: 0;
    color: #f9f9f9;
}

.main-content {
    position: relative;
    max-height: 100vh;
    width: 100%;
}

.filter-header-wrapper,
.filter-header {
    height: 50px;
    background-color: #f9f9f9;
}

.main-content.is-fixed .filter-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

a.settings-menu-toggle {
    position: absolute;
    height: 50px;
    width: 60px;
    background: transparent url(../img/settings-menu-icon.svg) no-repeat center;
}

ul.toggle-filters li.filter-btn {
    display: inline-block;
    line-height: 50px;
    padding: 0 8px;
}

li.filter-btn.active {
    box-shadow: inset 0 -2px 0 #4b367c;
}

.settings-menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 0%;
    height: calc(100% - 50px);
    overflow-y: auto;
    background-color: #ccc;
    transition: width 0.2s;
    text-align: center;
}

.settings-menu .sorting-container {
    position: relative;
    left: 50%;
    margin: 10px 0 50vh;
    width: 120px;
    transform: translateX(-50%);
}

.settings-menu .reset-btn {
    background-color: #4b367c;
    color: #fff;

}

.settings-menu .reset-btn:hover {
    background-color: #7C5EBC;
}

.sorting-container .select-sorting-btn {
    background-color: #f9f9f9;
    transform: translateX(-25%);
    text-decoration: none;
}


.sorting-container ul.sorting-options {
    display: none;
    position: absolute;
    left: 9px;
    text-align: left;
    list-style-type: none;
    box-shadow: 2px 2px 2px #000;
    padding: 0;
    margin: 0 -8px;
    background: #fff;
}

ul.sorting-options.opened {
    display: block;
}

ul.sorting-options li {
    width: 100px;
    padding: 8px;
}

.select-sorting-btn:hover,
ul.sorting-options li:hover {
    background-color: #dadada;
    color: #fff;
    cursor: pointer;
}

.main-content.settings-menu-opened .settings-menu {
    width: 20%;
}

.main-content.settings-menu-opened .media-feed {
    width: 80%;
    margin-left: 20%;
}


.settings-menu .settings-btn {
    width: 120px;
    padding: 8px;
    border: solid 1px #4b367c;
    border-radius: 2px;
    transform: translateX(-150%);
    transition: transform 0.2s;
    white-space: nowrap;
    display: inline-block;
    box-sizing: border-box;
}

.main-content.settings-menu-opened .settings-btn {
    transform: translateX(0%);
}

.main-content.is-fixed .settings-menu {
    position: fixed;
}

.media-feed {
    width: 100%;
    margin-left: 0;
    background-color: #dadada;
    transition: margin-left 0.2s, width 0.2s;
}

main {
    padding: 10px;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    min-height: calc(100vh - 20px - 80px - 50px - 1px - 40px); /* vh - feed container padding - header - toggles - </hr> - footer */
  }


main .feed-item {
    min-width: 100px;
    max-width: 7.2%;
    height: 100px;
    flex: 1 0 auto;
    background: no-repeat center center;
    background-size: contain;
    margin: 0 10px 20px 10px;
}

sidebar {
    padding: 20px;
    width: 80%;
    height: 100%;

}

sidebar div {
    width: 80%;
    height: 10px;
    background: #dadada;
    margin: 0 auto 8px;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0 20px 0 20px;
}

.footer {
    font-family: Verdana, Geneva, "DejaVu Sans", sans-serif;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    background-color: #dadada;
    color: #4b367c;
}