html, body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    margin: 0;
    color: #666;
}

.btn {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

a:active {
    color: #7C5EBC;
}

.header-bar {
    padding: 16px;
    background-color: #4b367c;
    box-sizing: border-box;
    height: 80px;
}

.header-bar h2 {
    font-weight: 300;
    text-align: center;
    line-height: 0;
    color: #f9f9f9;
}

.main-content {
    position: relative;
    max-height: 100vh;
    width: 100%;
}

.filter-header-wrapper,
.filter-header {
    height: 50px;
    background-color: #f9f9f9;
}

.main-content.is-fixed .filter-header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
}

a.settings-menu-toggle {
    position: absolute;
    height: 50px;
    width: 60px;
    text-align: center
}

a.settings-menu-toggle .settings-icon {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

li.filter-btn,
li.watch-later-filter  {
    display: inline-block;
    line-height: 50px;
    padding: 0 8px;
}

li.watch-later-filter {
    position: absolute;
    right: 20px;
    box-shadow: inset 0 -2px 0 #ccc;
}

li.filter-btn.active {
    box-shadow: inset 0 -2px 0 #4b367c;
}

li.filter-btn.active.disabled {
    box-shadow: inset 0 -2px 0 #ccc;
}

li.watch-later-filter.active {
    box-shadow: inset 0 -2px 0 green;
}

.settings-menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 0%;
    height: calc(100% - 50px);
    overflow-y: auto;
    background-color: #ccc;
    transition: width 0.2s;
    text-align: center;
}

.settings-menu .sorting-container {
    position: relative;
    left: 50%;
    margin: 10px 0 80px;
    width: 120px;
    transform: translateX(-200%);
    z-index: 10;
    transition: transform 0.2s;
}

.main-content.settings-menu-opened .sorting-container {
    transform: translateX(-50%);
}

.settings-btn.inverted-btn-theme {
    border: solid 1px #4b367c;
    border-radius: 1px;
    background-color: #f9f9f9;
    box-shadow: inset 0 -2px 0 #4b367c;
}

.settings-btn.default-btn-theme {
    height: 36px;
    background-color: #4b367c;
    color: #fff;
    border: none;
    box-shadow: inset 0 -2px 0 #f9f9f9;
}


.settings-btn.default-btn-theme:hover {
    background-color: #7C5EBC;
}

.settings-btn.small-btn {
    width: 60px;
}

.sorting-container h3 {
    color: #4b367c;
}

.sorting-container .select-sorting-btn {
    transform: translateX(-25%);
    text-decoration: none;
}


.sorting-container ul.sorting-options {
    display: none;
    position: absolute;
    left: 8px;
    text-align: left;
    list-style-type: none;
    box-shadow: 1px 1px 1px #4b367c;
    padding: 0;
    margin: 0 -8px;
    background: #fff;
}

ul.sorting-options.opened {
    display: block;
    box-sizing: border-box;
    width: 120px;
    border: solid 1px #4b367c;
    border-radius: 2px;
}

ul.sorting-options li {
    width: 118px;
    box-sizing: border-box;
    padding: 8px;
}

.select-sorting-btn:hover,
ul.sorting-options li:hover {
    background-color: #dadada;
    color: #fff;
    cursor: pointer;
}

.main-content.settings-menu-opened .settings-menu {
    width: 20%;
}

.main-content.settings-menu-opened .media-feed {
    width: 80%;
    margin-left: 20%;
}


.settings-btn {
    width: 120px;
    padding: 8px;
    transform: translateX(-150%);
    transition: transform 0.2s;
    white-space: nowrap;
    display: inline-block;
    box-sizing: border-box;
}

.polling-setting-container {
    width: 120px;
    position: relative;
    left: 50%;
    transform: translateX(-200%);
    transition: transform 0.2s;
    color: #4b367c;
}

.main-content.settings-menu-opened .polling-setting-container {
    transform: translateX(-50%);
}

.polling-input-container {
    position: relative;
    width: 120px;
    margin-bottom: 25vh;
}

input.polling-input {
    width: 120px;
    box-sizing: border-box;
    height: 36px;
    font-size: 20px;
    padding: 4px 28px 4px 4px;
    box-shadow: inset 0 -2px 0 #4b367c;
    border: none;
    outline: none;
    color: #4b367c;
    margin-bottom: 10px;
}

input.polling-input:focus {
    outline-offset: 0;
    outline-width: 2px;
}

.polling-input-label {
    position: absolute;
    top: 0px;
    right: 4px;
    width: 22px;
    line-height: 36px;
}

.main-content.settings-menu-opened .settings-btn {
    transform: translateX(0%);
}

.main-content.is-fixed .settings-menu {
    position: fixed;
}

.media-feed {
    width: 100%;
    margin-left: 0;
    background-color: #dadada;
    transition: margin-left 0.2s, width 0.2s;
}

main {
    padding: 10px;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    min-height: calc(100vh - 20px - 80px - 50px - 1px - 40px); /* vh - feed container padding - header - toggles - </hr> - footer */
  }


.feed-item {
    position: relative;
    min-width: 100px;
    max-width: 7.2%;
    height: 100px;
    flex: 1 0 auto;
    background: no-repeat center center;
    background-size: contain;
    margin: 0 10px 20px 10px;
}


.media-actions {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 4px;
    width: 100%;
    font-size: 10px;
    text-align: center;
}

.action-btn {
    font-size: 16px;
}

.watch-later-list .feed-item .watch-later-btn {
    display: none;
}

.action-btn:hover {
    cursor: pointer;
}

.watch-later-btn:hover {
    color: #7C5EBC;
}

.delete-btn:hover {
    color: red;
}

sidebar {
    padding: 20px;
    width: 80%;
    height: 100%;

}

sidebar div {
    width: 80%;
    height: 10px;
    background: #dadada;
    margin: 0 auto 8px;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0 20px 0 20px;
}

.footer {
    font-family: Verdana, Geneva, "DejaVu Sans", sans-serif;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    background-color: #dadada;
    color: #4b367c;
}